.form-control {
   display: flex;
   flex-direction: column;
   margin-bottom: 1em;
}

.form-control label {
   margin-bottom: .6em;
   font-weight: bold;
}

.form-control select {
   padding: 0.7em;
   border-radius: 0;
   border: none;
   color: #7b7b7b;
}