.criar-container {
   width: 450px;
   margin: 0 auto;
   padding: 3em;
}

.criar-container h1 {
   margin-bottom: 0.5em;
}

.criar-container p {
   color: #7b7b7b;
}

.form {
   width: 100%;
   margin: 2em 0;
}