.card-container {
   width: 265px;
   height: 340px;
   padding: 0.5em;
   background-color: white;
   border: 2px solid #7a7a7a;
   border-radius: 7px;
   margin-right: 17px;
   margin-bottom: 17px;
}

.titulo-projeto {
   display: flex;
   height: 100px;
   margin-top: 5px;
   margin-bottom: 60px; 
   background-color: #333;
   font-size: 12px;
   border-radius: 10px;
   color: #ffbb33;
   text-align: center;
   justify-content: center;
}  

.titulo-projeto h1 {
   margin: 4px;
   font-size: 22px;
}

.card-container span {
   font-size: 15px;
   display: flex;
   flex-wrap: wrap;
   font-weight: bold;
}

.card-container p {
   font-weight: bold;
   font-size: 15px;
}

.botoes {
   display: flex;
   justify-content: center;
   margin-top: 75px;
}

.botoes button {
   background-color: white;
   color: #333;
   font-weight: bold;
   padding: 0.8em 1em;
   cursor: pointer;
   border-radius: 7px;
   flex-direction: row-reverse;
   font-size: 12px;
}

.button-one {
   margin-right: 65px;
}

.button-one:hover {
   background-color: green;
   color: black;
}

.button-two:hover {
   background-color: tomato;
   color: black;
}

.editar {
   width: 15px;
   height: 15px;
}  

.lixeira {
   width: 12.5px;
   height: 12.5px;
}





